In [1]:
import modin.pandas as pd
import pandas as pds
import numpy as np

In [19]:
def find_screen_height(width, ratio): 
    # your code here
    nums = ratio.split(':')
    numerator = int(nums[0])
    denominator = int(nums[1])
    fraction = numerator / denominator
    str_val = str(width) + 'x' + str(int(width/fraction))
    return str_val

In [20]:
find_screen_height(2, '1:2')

'2x4'

In [9]:
x = '3:52'
for a in x:
    print(a)

3
:
5
2

In [10]:
b = []
for a in x:
    b.append(a)
b

['3', ':', '5', '2']

In [12]:
nums = x.split(':')
nums

['3', '52']

In [14]:
int(nums[1])

52

In [28]:
def convert_my_dollars(usd, currency):
    # Replace this comment with your solution
    CONVERSION_RATES = {
      "Argentinian Peso": int('10', 2),
      "Armenian Dram": 478,
      "Bangladeshi Taka": int('1010010', 2),
      "Croatian Kuna": int('110', 2), 
      "Czech Koruna": int("10101", 2),
      "Dominican Peso": int('110000', 2),
      "Egyptian Pound": 18,
      "Guatemalan Quetzal": int('111', 2),
      "Haitian Gourde": int('1000000', 2),
      "Indian Rupee": 63,
      "Japanese Yen": int('1101111', 2),
      "Kenyan Shilling": int('1100110', 2),
      "Nicaraguan Cordoba": int('11111', 2),
      "Norwegian Krone": int('1000'),
      "Philippine Piso": int('110010', 2),
      "Romanian Leu": int('100', 2),
      "Samoan Tala": 11, 
      "South Korean Won": int('10000100011', 2), 
      "Thai Baht": int('100000', 2), 
      "Uzbekistani Som": 8333,
      "Venezuelan Bolivar": int('1010', 2),
      "Vietnamese Dong": int('101100000101101', 2)
    }
    a = usd * CONVERSION_RATES[currency]
    string = 'You now have ' + str(a) + ' of ' + currency + '.'
    return string

In [29]:
convert_my_dollars(1, 'Argentinian Peso')

'You now have 2 of Argentinian Peso.'

In [22]:
a = {'one': 5,
     'two': 10
    }
a['one']

5

In [27]:
int('10', 2)

2

In [35]:
def convert_my_dollars(usd, currency):
    # Replace this comment with your solution
    CONVERSION_RATES = {
      "Argentinian Peso": 10,
      "Armenian Dram": 478,
      "Bangladeshi Taka": 1010010,
      "Croatian Kuna": 110, 
      "Czech Koruna": 10101,
      "Dominican Peso": 110000,
      "Egyptian Pound": 18,
      "Guatemalan Quetzal": 111,
      "Haitian Gourde": 1000000,
      "Indian Rupee": 63,
      "Japanese Yen": 1101111,
      "Kenyan Shilling": 1100110,
      "Nicaraguan Cordoba": 11111,
      "Norwegian Krone": 1000,
      "Philippine Piso": 110010,
      "Romanian Leu": 100,
      "Samoan Tala": 11, 
      "South Korean Won": 10000100011, 
      "Thai Baht": 100000,
      "Uzbekistani Som": 8333,
      "Venezuelan Bolivar": 1010,
      "Vietnamese Dong": 101100000101101
    }
    try:
        amount = int(str(CONVERSION_RATES[currency]), 2) * usd
    
    except ValueError:
                     
        amount = CONVERSION_RATES[currency] * usd
                     
    return amount

In [36]:
convert_my_dollars(1, 'Argentinian Peso')

2

In [ ]:
def find_middle(string):
    digits = [int(x) for x in string if x.isdigit()]
    if len(digits) % 2 != 0:
        num = digits[int(len(digits)/2)]
    else:
        num = digits[int(len(digits)/2)-1:int(len(digits)/2)+1]
    return int(''.join(num))

In [76]:
string = 's7d8jd93'
digits = [int(x) for x in string if x.isdigit()]
prod = 1
for x in digits:
    prod *= x
prod_dig = [x for x in str(prod)]
prod_dig
if len(prod_dig) % 2 != 0:
    num = prod_dig[int(len(prod_dig)/2)]
else:
    num = prod_dig[int(len(prod_dig)/2)-1:int(len(prod_dig)/2)+1]
print(int(''.join(num)))

51

In [66]:
if len(str(prod)) % 2 != 0:
    num = digits[int(len(digits)/2)]
else:
    num = digits[int(len(digits)/2)-1:int(len(digits)/2)+1]
print(digits)
print(int(''.join(num)))

[7, 8, 9]

TypeError: can only join an iterable

In [78]:
type(type('asewotihweo'))

type

In [94]:
def find_middle(string):

    if not isinstance(string, str):
        return -1
        
    digits = [int(x) for x in string if x.isnumeric()]
    prod = 1
    for x in digits:
        prod *= x
    prod_dig = [x for x in str(prod)]
    prod_dig
    if len(prod_dig) % 2 != 0:
        num = prod_dig[int(len(prod_dig)/2)]
    else:
        num = prod_dig[int(len(prod_dig)/2)-1:int(len(prod_dig)/2)+1]
        
    if len(prod_dig) == 0:
        return -1
    else:
        return int(''.join(num))

In [95]:
find_middle('s7d8jd9')

0

In [96]:
find_middle('58jd9fgh/fgh6s.,sdf')

16

In [97]:
find_middle()

TypeError: find_middle() missing 1 required positional argument: 'string'

In [98]:
int(''.join(['0', '2']))

2

In [128]:
def segments(m, a):
    lst = [_ for _ in range(m + 1)]
    a_list = []
    for x in a:
        a_list.append([_ for _ in range(x[0], x[1] + 1)])
    b_list = []
    for x in a_list:
        for y in x:
            b_list.append(y)
    a_set = set(lst)
    b_set = set(b_list)
    return sorted(list(a_set - b_set))

In [129]:
segments(5, [(2, 2), (1, 2), (5, 5)])

[0, 3, 4]

In [130]:
segments(7, [(0,7)])

[]

In [131]:
segments(44, [(0, 9), (25, 28), (6, 14), (19, 29), (22, 30), (5, 14), (16, 24)])

[15, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [105]:
m = 5
lst = [_ for _ in range(5)]
lst

[0, 1, 2, 3, 4]

In [107]:
a = [(2, 2), (1, 2), (5, 5)]

In [113]:
a_list = []
for x in a:
    a_list.append([_ for _ in range(x[0], x[1]+1)])
a_list

[[2], [1, 2], [5]]

In [117]:
b_list = []
for x in a_list:
    for y in x:
        b_list.append(y)
b_list

[2, 1, 2, 5]

In [121]:
a_set = set(lst)
b_set = set(b_list)
a_set - b_set

{0, 3, 4}

In [122]:
list(a_set - b_set)

[0, 3, 4]