In [1]:
#!/bin/python3

import math
import os
import random
import re
import sys

In [14]:
# Complete the twoStrings function below.
def twoStrings(s1, s2):
    one = set(list(s1))
    two = set(list(s2))
    if len(one & two) != 0:
        return True
    else:
        return False

In [15]:
s1 = 'happy'; s2 = 'sad'
one, two = twoStrings(s1, s2)

In [17]:
one

{'a', 'h', 'p', 'y'}

In [18]:
two

{'a', 'd', 's'}

In [33]:
if len(one & two) != 0:
    print(True)

In [37]:
len({'a'})

1

In [ ]:
price = {'6'}

In [38]:
string = input()

6 55

In [39]:
string

'6 55'

In [50]:
string_tup = string.split(' ')

In [52]:
string_tup = [int(x) for x in string_tup]
string_tup

[6, 55]

In [54]:
x = tuple(string_tup)

In [55]:
x[0]

6

In [56]:
for i in x:
    print(i)

6
55

In [57]:
string = '2 3 4 5 6 8 7 6 5 18'

In [59]:
set(string.split(' '))

{'18', '2', '3', '4', '5', '6', '7', '8'}

In [61]:
z_str = '1+2j'
z_split = z_str.split('+')

In [62]:
z_split[0]

'1'

In [64]:
z_split[1].replace('j', '')

'2'

In [65]:
import cmath

In [67]:
cmath.phase(1+2j)

1.1071487177940904

In [70]:
z = (complex(z_str))

In [72]:
z.real

1.0

In [73]:
n = input()

10

In [74]:
nums = input()

161 182 161 154 176 170 167 171 170 174

In [75]:
nums

'161 182 161 154 176 170 167 171 170 174'

In [76]:
arr = list(map(int, nums.split()))
arr

[161, 182, 161, 154, 176, 170, 167, 171, 170, 174]

In [79]:
arr_set = set(arr)

In [80]:
sum_set = 0
for x in arr_set:
    sum_set += x

In [81]:
sum_set

1355

In [84]:
lst1 = ['a', 'a', 'b', 'a', 'b']
sets = set(lst1)
sets

{'a', 'b'}

In [86]:
for x in sets:
    print(x)

b
a