### Integers: Recreation One

In [69]:
def list_squared(m, n):
    import numpy as np
    ans = []
    for i in range(m, n+1):

        lst = np.array([])

        for j in range(1, i+1):

            if i % j == 0:
                lst = np.append(lst, j)

        sum_sq = sum(lst**2)
        root = int(sum_sq**0.5)
        if root ** 2 == sum_sq:
            ans.append([i, root**2])
    return ans

In [70]:
list_squared(1, 250)

[[1, 1], [42, 2500], [246, 84100]]

In [71]:
import math
math.sqrt(25.0) % 1

0.0

In [72]:
list_squared(1, 250)

[[1, 1], [42, 2500], [246, 84100]]

In [74]:
[x * x for x in range(1, 43) if 42 % x == 0]

[1, 4, 9, 36, 49, 196, 441, 1764]

In [76]:
def list_squared(m, n):
    import numpy as np
    ans = []
    for i in range(m, n+1):

        lst = np.array([x ** 2 for x in range(1, i+1) if i % x == 0])

        sum_sq = sum(lst)
        root = int(sum_sq**0.5)
        if root ** 2 == sum_sq:
            ans.append([i, root**2])
    return ans

In [80]:
a = list_squared(1, 1000)
a

[[1, 1], [42, 2500], [246, 84100], [287, 84100], [728, 722500]]

In [103]:
import math
def factor_squared_sum(n):
    # could do some cache if time exceeded
    sum = 0
    nrt = int(math.sqrt(n))
    for i in range(1,nrt+1):
        # can be reduced to list deductive
        if not n%i:
            sum += i*i
            if int(n/i) != i:
                sum += int(n/i)**2 

    return sum
def list_squared(m, n):
    lst = list()
    for i in range(m,n+1):
        fss = factor_squared_sum(i)
        frt = int(math.sqrt(fss)*1000)
        if fss*1000000 == frt*frt: # Python supports infinite integers naturally
            lst.append([i,fss])
    return lst

In [104]:
list_squared(1, 1000)

[[1, 1], [42, 2500], [246, 84100], [287, 84100], [728, 722500]]

# Pig Latin

In [105]:
def pig_it(text):
    pass

In [107]:
text = 'happy birthday !'
text = text.split()
text

['happy', 'birthday', '!']

In [108]:
import string
punc = string.punctuation
punc

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [109]:
'!' in punc

True

In [112]:
t_lst = [x for x in 'text']
t_lst

['t', 'e', 'x', 't']

In [113]:
't' in t_lst

True