## Collections.OrderedDict

In [4]:
lst = [['BANANA', 'FRIES', '12'], ['POTATO', 'CHIPS', '30'], ['APPLE', 'JUICE', '10'], ['CANDY', '5'], ['APPLE', 'JUICE', '10'], ['CANDY', '5'], ['CANDY', '5'], ['CANDY', '5'], ['POTATO', 'CHIPS', '30']]

In [11]:
lst_clean = []
for x in lst:
    lst_clean.append([' '.join(x[:-1]), x[-1]])
lst_clean

[['BANANA FRIES', '12'],
 ['POTATO CHIPS', '30'],
 ['APPLE JUICE', '10'],
 ['CANDY', '5'],
 ['APPLE JUICE', '10'],
 ['CANDY', '5'],
 ['CANDY', '5'],
 ['CANDY', '5'],
 ['POTATO CHIPS', '30']]

In [32]:
a = ['BANANA FRIES', '12']
d = {}
d[a[0]] = a[1]

In [33]:
d

{'BANANA FRIES': '12'}

In [50]:
d = {}
for x in lst_clean:
    if x[0] not in d.keys():
        d[x[0]] = int(x[1])
    else:
        d[x[0]] += int(x[1])
d

{'BANANA FRIES': 12, 'POTATO CHIPS': 60, 'APPLE JUICE': 20, 'CANDY': 20}

In [55]:
for x in d:
    print(x + ' ' + str(d[x]))

BANANA FRIES 12
POTATO CHIPS 60
APPLE JUICE 20
CANDY 20

In [58]:
a = [['a', 'b'], ['c', 'd']]
a = [y for x in a for y in x]
a

['a', 'b', 'c', 'd']

# Triangle Quest 2 HackerRank

In [75]:
for i in range(1,int(input())+1): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print(''.join([str(-abs(i-x) + i) for x in range(1,i*2)]))

5
1
121
12321
1234321
123454321

In [73]:
''.join([str(x) for x in range(1, 11)])

'12345678910'

In [71]:
[-abs(2-i) + 2 for i in range(1,4)]

[1, 2, 1]

In [ ]:
for i in range(1,int(input())+1): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print(''.join([str(-abs(i-x) + i) for x in range(1,i*2)]))

In [76]:
'1'*2

'11'

In [109]:
for i in range(1, 10+1):
    print(((10**(i)-1)//9)**2)

1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321
12345678987654321
1234567900987654321

In [81]:
1, 11, 111, 1111, 11111

(1, 11, 111, 1111, 11111)

In [83]:
((1 + 10) + 100) + 1000

1111

In [91]:
a = [1]; [x:=[a] for x]

SyntaxError: invalid syntax (<ipython-input-91-989f3136fe4d>, line 1)

In [85]:
a = 1
for x in range(1,5+1):
    print(a)
    a += 10**x

1
11
111
1111
11111

In [92]:
1 * 10**0

1

In [93]:
1 * 10**0 + 1 * 10**1

11

In [97]:
sum([10**x for x in range(0, 5)])

11111

In [101]:
[x for x in range(0,5)]

[0, 1, 2, 3, 4]

In [110]:
for i in range(1, 5+1):
    print(((10**(i))//9)**2)

1
121
12321
1234321
123454321

In [103]:
10-1

9