## Collections.OrderedDict

In [1]:
lst = [['BANANA', 'FRIES', '12'], ['POTATO', 'CHIPS', '30'], ['APPLE', 'JUICE', '10'], ['CANDY', '5'], ['APPLE', 'JUICE', '10'], ['CANDY', '5'], ['CANDY', '5'], ['CANDY', '5'], ['POTATO', 'CHIPS', '30']]

In [2]:
lst_clean = []
for x in lst:
    lst_clean.append([' '.join(x[:-1]), x[-1]])
lst_clean

In [3]:
a = ['BANANA FRIES', '12']
d = {}
d[a[0]] = a[1]

In [4]:
d

In [5]:
d = {}
for x in lst_clean:
    if x[0] not in d.keys():
        d[x[0]] = int(x[1])
    else:
        d[x[0]] += int(x[1])
d

In [6]:
for x in d:
    print(x + ' ' + str(d[x]))

In [7]:
a = [['a', 'b'], ['c', 'd']]
a = [y for x in a for y in x]
a

# Triangle Quest 2 HackerRank

In [8]:
for i in range(1,int(input())+1): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print(''.join([str(-abs(i-x) + i) for x in range(1,i*2)]))

5
1
121
12321
1234321
123454321

In [9]:
''.join([str(x) for x in range(1, 11)])

'12345678910'

In [10]:
[-abs(2-i) + 2 for i in range(1,4)]

[1, 2, 1]

In [11]:
for i in range(1,int(input())+1): #More than 2 lines will result in 0 score. Do not leave a blank line also
    print(''.join([str(-abs(i-x) + i) for x in range(1,i*2)]))

5
1
121
12321
1234321
123454321

In [12]:
'1'*2

'11'

In [13]:
for i in range(1, 10+1):
    print(((10**(i)-1)//9)**2)

1
121
12321
1234321
123454321
12345654321
1234567654321
123456787654321
12345678987654321
1234567900987654321

In [14]:
1, 11, 111, 1111, 11111

(1, 11, 111, 1111, 11111)

In [15]:
((1 + 10) + 100) + 1000

1111

In [16]:
a = 1
for x in range(1,5+1):
    print(a)
    a += 10**x

1
11
111
1111
11111

In [17]:
1 * 10**0

1

In [18]:
1 * 10**0 + 1 * 10**1

11

In [19]:
sum([10**x for x in range(0, 5)])

11111

In [20]:
[x for x in range(0,5)]

[0, 1, 2, 3, 4]

In [21]:
for i in range(1, 5+1):
    print(((10**(i))//9)**2)

1
121
12321
1234321
123454321

In [22]:
10-1

9

In [23]:
a = int(input())
b = int(input())
ans = [a//b, a%b, (a//b, a%b)]
for x in ans:
    print(x)

177
10
17
7
(17, 7)